#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#first{
    margin: 5px;
}

#second{
    padding-left: 30px;
}

#para{
    font-size: large;
    color: orangered;
    font-weight: 700;
}

.btn{
    background-color: blue;
    border-radius: 7px;
    color: white;
    padding: 5px;
    font-weight: bold;
}