#odiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    height: 75px;
    width: 300px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.idiv{
    width: 100px;
    height: 75px;
    
}

.btn{
    width: 100px;
    height: 75px;
    font-size: 50px;
    font-weight: bold;
    border-color: white;
    border-radius: 15px;
}

#zero{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
}