#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
}

.ip{
    border-color: black;
    border-radius: 7px;
    padding: 5px;
    font-weight: bold;
}

#para{
    text-align: center;
    color: orangered;
    font-weight: bold;
    font-size: x-large;
}